<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link href="http://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://194.67.144.130:8080/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://194.67.144.130:8080/node_modules/react-image-crop/dist/ReactCrop.css">
    <link rel="stylesheet" href="http://194.67.144.130:8080/css/chatapp.css">
    <link rel="stylesheet" href="http://194.67.144.130:8080/css/postComposer.css">
    <link rel="stylesheet" href="http://194.67.144.130:8080/css/imageEditModal.css">
    <link rel="stylesheet" href="http://194.67.144.130:8080/css/post.css">
    <link rel="stylesheet" href="http://194.67.144.130:8080/css/modal.css">
    <link rel="stylesheet" href="http://194.67.144.130:8080/css/imageArea.css">
    <link rel="stylesheet" href="http://194.67.144.130:8080/css/imgAreaAccompany.css">
    <link rel="stylesheet" href="http://194.67.144.130:8080/css/sidebar.css">
</head>
<body>
    <div id="root">
        this is a place for a react component!
    </div>
<script src="http://194.67.144.130:3000/dist/bundle.js"></script>
</body>
</html>
