.modal-edit-image {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    overflow: hidden;
}

.modal-edit-image .modal-content {
    height: 100%;
    width: 100%;
}

.modal-edit-image .image-area {
    width: 100%;
    height: 100%;
    position: relative;
    background: #333;
}

.modal-edit-image .image-tools {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.4);
}

.image-tools button,
.image-tools .delimeter
 {
    height: 30px;
    width: 30px;
    color: #fff;
    margin: 5px;
}

.image-tools .button-close {
    color: red;
}

.image-tools .button-commit {
    color: green;
}

.image-cropper {
    width: 100%;
    height: calc(100% - 40px);
}

@media screen and (min-width: 768px) {

    .image-cropper {
        height: 100%;
    }

    .modal-edit-image .image-tools {
        bottom: 4%;
        left: calc(50% - 200px);
        width: auto;
    }

}