.regular-page {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
}

.regular-page-grid {
    padding-top: 45px;
    height: 100%;
}

@media screen and (min-width: 768px) {

    .regular-page {
        padding-bottom: 0;
    }

    .regular-page-grid {
        padding-top: 60px;
    }

}

.regular-page-grid .row {
    height: 100%;
}

.regular-page-grid .main-col {
    padding: 17px 0;
    height: 100%;
}