.edit-user-page {
    width: 100%;
    height: 100%;
}

.edit-user-page.top-fixed-bar {
    position: absolute;
}

.edit-user-page-grid {
    /*padding: 45px 0 0 0;*/
    padding-top: 45px;
    height: 100%;
}

.edit-user-page-grid .row {
    height: 100%;
    /*width: 100%;
    padding: 0;*/
}

@media screen and (min-width: 768px) {

    .edit-user-page.top-fixed-bar {
        position: fixed;
    }

    .edit-user-page-grid {
        padding-top: 60px;
    }

}

.edit-user-page .col-settings {
    height: 100%;
    padding: 0;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .edit-user-page .col-settings {
        padding: 17px 0;
    }

}

.edit-user-page .settings-container {
    min-height: 100%;
    padding: 0 15px 80px 15px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    overflow: auto;
}

.edit-user-page h4 {
    width: 100%;
    max-width: 350px;
    text-align: left;
    display: inline-block;
    margin: 20px 0;
    padding: 0 10px;
    color: #555;
}

.input-inline h4 {
    width: auto;
    vertical-align: middle;

}

.input-inline input[type=radio] {
    vertical-align: top;
}

.edit-user-page hr {
    margin: 0;
}

.edit-user-page .date-select {
    flex-grow: 10;
    width: 100%;
    max-width: 350px;
    text-align: center;
    display: inline-block;
}

.edit-user-page textarea {
    width: 100%;
    max-width: 350px;
    min-height: 100px;
    resize: vertical;
}

.edit-user-page .search-input {
    max-width: 350px;
}

.edit-user-page .search-input .Select-menu-outer {
    margin-top: 5px;
}

.edit-user-page .button-submit {
    color: rgb(249, 73, 182);
    transition: color 1s linear;
}

.edit-user-page .button-submit:disabled {
    color: #aaa;
    cursor: not-allowed;
}


/* DATE SELECT */

.date-select .Select {
  display: inline-block;
}

.date-select .select-year {
    width: 28%;
    margin-right: 2%;
}

.date-select .select-month {
  width: 45%;
  margin-right: 2%;
}

.date-select .select-day {
  width: 23%;
}




/* TEST */

.settings-container .form-group {
    text-align: left;
    max-width: 350px;
}

.settings-container .form-group .control-label {
    text-align: left;
    font-size: 1.3em;
    font-weight: normal;
    margin: 15px 0;
    padding: 0 10px;
    color: #555;
}

.settings-container .form-group-inline .control-label {
    margin: 15px 0 0 0;
    padding: 0 20px 0 10px;
}

.settings-container svg.icon-gender {
    padding: 0 0.5em 0.2em 0.5em;
    height: 1.6em;
}

.settings-container svg.icon-mars {
    fill: #3A9ED1;
}

.settings-container svg.icon-venus {
    fill: #f378ac;
}