.emoji-item-list {
  max-height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
  align-content: flex-start;
}

.popover {
  max-width: 100vw;
}

@media screen and (min-width: 768px) {
    .popover {
      max-width: 70vw;
    }
}
.emoji-item-sprite-outer {
  height: 30px;
  width: 30px;
  cursor: pointer;
  display: inline-block;
}

.emoji-picker .emoji-item-sprite-outer,
.popover .emoji-item-sprite-outer {
  margin: 6px;
}

.emoji-item-sprite-inner {
  background-image: url('emojione-32x32.png');
  background-repeat: no-repeat;
}

.popover-content {
  padding: 9px 5px;
}

.emoji-item-img {
  width: 1.2em;
  height: 1.2em;
  margin: 0 2px;
}

.emoji-trigger {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}