/* icon__add-color */

.icon__add-color .gradient0{fill:url(#SVGID_1_);}
.icon__add-color .gradient1 {fill:url(#SVGID_2_);}

.stop1 {stop-color: #9A49BF;}
.stop2 {stop-color: #A049BC;}
.stop3 {stop-color: #E146A1;}
.stop4 {stop-color: #FA4596;}