.login-page-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    /* padding: 0; */
    background: #fff;
}

.login-page {
    height: 100%;
    margin: auto;
    flex-grow: 1;
}

.login-page .row {
    height: 100%;
    overflow-y: hidden;
}

.toggle-area {
    transition: all .3s ease-out;
    overflow: hidden;
    height: 100%;
    margin-top: 0;
    opacity: 1;
}

.toggle-area-wrapper {
    height: calc(100% - 50px);
    overflow: auto;
    display: flex;
}

.toggle-area-hidden {
    height: 0% !important;
    opacity: 0;
}

.label-area {
    margin: auto;
}

.form-area {
    margin: auto;
}

.footer {
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 1000;
    bottom: 0;
    display: flex;
    font-size: 1.1em;
    background-color: #fc6aa1;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiNmOTQ5YjYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2Y5NGFiNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%,color-stop(0, rgb(249, 73, 182)),color-stop(1, rgb(249, 74, 181)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(top left,rgb(249, 73, 182) -0.2%,rgb(255, 139, 139) 101.7%);
    /* IE10+ */
    background-image: linear-gradient(to bottom right,rgb(249, 73, 182) -0.2%,rgb(255, 139, 139) 101.7%);
    background-image: -ms-linear-gradient(top left,rgb(249, 73, 182) -0.2%,rgb(255, 139, 139) 101.7%);
}

.footer button,
.footer a {
    margin: auto;
    outline: none !important;
    background: none !important;
    border: none !important;
    color: #fff !important;
    padding: 0 40px;
}

.slogan {
    font-size: 2.2em;
    color: #555;
}

.slogan-appear {
    opacity: 0;
}

.slogan-appear.slogan-appear-active {
    opacity: 1;
    transition: opacity 1.1s ease-in;
}

.slogan-appear.slogan-appear-active.slogan-wave-1 {
    transition-delay: 0.2s;
}

.slogan-appear.slogan-appear-active.slogan-wave-2 {
    transition-delay: 1.2s;
}

.slogan-appear.slogan-appear-active.slogan-wave-3 {
    transition-delay: 2s;
}

.find-link {
    border-bottom: 1px solid rgb(249, 73, 182);
    color: rgb(249, 73, 182) !important;
    outline: none !important;
    text-decoration: none !important;
}

.input-submit {
    border: 1px solid rgb(249, 73, 182) !important;
    text-indent: 0 !important;
    border-radius: 30px;
    padding: 2px 26px;
    margin: 0 !important;
    vertical-align: middle;  
}

.form-wrapper {
    height: 100%;
    width: 100%;
    min-height: 360px;
    max-width: 320px;
    /*padding-top: 10%;*/
    overflow: auto;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: center;
}

.form-header {
    height: 80px;
    text-align: center;
}

.form-header .logo {
    width: 44px;
    height: 44px;
    margin-right: 16px;
}

.form-header .site-name {
    height: 25px;
}



.form-wrapper .input-round {
    width: 82%;
    margin: 20px 9%;
}

.buttons {
    height: 70px;
    padding-top: 21px;
    text-align: center;
}

.buttons .input-round {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.input-round input[type="submit"] {
    border: 1px solid rgb(249, 73, 182) !important;
}

.links {
    height: 30px;
    text-align: center;
    font-size: 0.9em;
}

.buttons span,
.links span {
    margin: 0 8px;
}

@media screen and (min-width: 768px) {

    .toggle-area-hidden {
        height: 100% !important;
        opacity: 1;
    }

    .form-header {
        margin-top: 20px;
    }

    .form-wrapper .input-round {
        margin: 20px 9%;
        width: 82%;
    }

    .footer {
        font-size: 1.3em;
    }

}


.notification {
    /*width: 150px !important;*/
    border: 1px solid #222 !important;;
    border-radius: 4px !important;
    background: #fff !important;
    box-shadow: none !important;
    font-family: 'Open Sans', sans-serif !important;
}

.notification-dismiss {
    background-color: #fff !important;
    color: #666 !important;
}

.notification-error {
    border: 1px solid #FF5252 !important;
}
