@media screen and (min-width: 768px) {

    .modal-new-post-photo {
        height: 600px;
        max-height: 100vh;
    }

    .modal-new-post-photo .modal-content {
        height: 600px;
        max-height: 100vh;
    }

}

.modal-new-post-photo .modal-header img {
    margin-right: 10px;
    margin-bottom: 3px;
}


.modal-new-post-photo .button-add-photo {
    margin: auto;
    width: 60px;
    padding-bottom: 20px !important;
    padding: 0;
}

.modal-new-post-photo .button-add-photo img {
    height: 60px;
}

.modal-new-post-photo .image-preview {
    flex-grow: 1;
    position: relative;
    min-width: 0;    
    background: #222;
}

.modal-new-post-photo .icon-loader {
    margin: auto;
    width: 45px;
}

.modal-new-post-photo .image-preview img {
    position: absolute;
    /* display: block; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* width: 50%; */
    max-height: 100%;
    max-width: 100%;
    /* max-height: 100%; */
    /* z-index: 2000; */
}

.modal-new-post-photo .attach-preview-delete {
    position: absolute;
    right: 6px;
    top: 10px;
    z-index: 2;
    color: #fff;
    background: rgba(34, 34, 34, 0.7) !important;
}

/* TOOLTIPS */

.help-block-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .help-block-wrapper {
        padding: 0 40px;
    }
}

.help-block-wrapper .help-block {
    margin: 10% auto;
    padding: 0;
    list-style-type: none;
}

.help-block__header {
    color: #777;
    padding: 8px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #f949b6;
}

.help-block__content {
    color: #333;
    font-size: 1.1em;
}

.tooltip-list {
    margin-bottom: 30px;
}

.tooltip-list > li {
    margin-bottom: 10px;
}
